{% extends 'base.html' %}

{% block content%}
<main>
<div class="container">

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="card card-body">
      <h3 class="text-center" style="color: #ff9800;">
        KONTAK KAMI
      </h3><br>

        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3973.884638400465!2d120.25288654875371!3d-5.122285496264334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dbc25decc193715%3A0xd7b2dd45eb907b0a!2sDinas%20Komunikasi%20Informatika%20dan%20Persandian%20Kabupaten%20Sinjai!5e0!3m2!1sid!2sid!4v1660098396531!5m2!1sid!2sid" width="100%" height="300" style="border:0;" allowfullscreen=""></iframe><br><br>
            <h4>E-Commerce M-5</h4>
            <h6>Jl.Persatuan Raya No.101, Kelurahan Balangnipa, Kecamatan Sinjai Utara, Kabupaten Sinjai, Provinsi Sulawesi Selatan</h6>
           <h6><b>Telp.</b>0482-12345</h6>
           <h6><b>Fax.</b>0482-54321</h6>
           <h6><b>Email:</b>ecommerce.M5@gmail.com</h6>
          </div>
        </div>



    </div>
  </div>
  <div class="col-md-2"></div>
</div>
      






</div>
</main>
{% endblock content %}