DEBUG=True
SECRET_KEY=!h6xi!hq-s@b(bd*)(6nsg+*vxm-2^sts3&5b6l6k5&b+=#$jp
DEFAULT_FROM_EMAIL=atnliex@gmail.com
NOTIFY_EMAIL=atnliex@gmail.com
PAYPAL_SANDBOX_CLIENT_ID=ARAwgueqXoENbLgYlvV6kno9jxkuMpMVttQ0JmGTWjtAEAYDhVKEP_Y36r6hHbTOJjjXgbqBa_-AuhdQ
PAYPAL_SANDBOX_SECRET_KEY=ELgFGzEEfePUEARB_yrIltVLd-7EpK7W79yB0zbpooHh8otjiWJ2BLUioMnWegDk_v0swmdlZpJcgdxd
PAYPAL_LIVE_CLIENT_ID=xxxx
PAYPAL_LIVE_SECRET_KEY=xxxx
PAYPAL_RECEIVER_EMAIL=sb-evijz15406226@business.example.com
PAYPAL_TEST=True

User Personal (Pengguna) : sb-cefad26132077@personal.example.com
Password Personal : 5}W6i_&B
User Business (Merchant) : sb-43ekyl15340159@business.example.com
Password Business : ;V^6c/uH
PAYPAL_SANDBOX_CLIENT_ID : AdELVoue4pmZp0PMOhxqDJrDVyhNjp3Ii-X_PRRQwCsuIJ5MFMxqk6s8VCHMYOYTF_Evnj5s9_Oq5cPB 
PAYPAL_SANDBOX_SECRET_KEY : EJ85WPALErQ07i5YjoEQaCyIEA3qY_GRnP_VfOnEVWeB5zvWPi7pM-pvbI4gvf2sh52IsVX5k0bC3ANP